#logOutDiv{
    position : absolute;
    top : 0;
    right : 0;
    background-color: rgb(220, 40, 220) !important;
}

#logOutButton{
    background-color: rgba(0, 40, 220, 0.9) !important;
}

.container-fluid{
    position : absolute;
    left : 10%;
    right : 10%;
    display: none;
}

.dropdown {
    position : absolute;
    top : 0;
    left : 0;
}

#details {
    display: none;
    position : absolute;
    left : 0;
    top: 0;
}